#home{
    min-height: 100vh;
    background-color: #24353F;
}
#sign-in {
    height: fit-content;
    width: 50%;
    border: 1px solid #24353F;
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
    box-sizing: border-box;

   
}

#home .input {
    display: flex;
    flex-direction: column;
}


